<%- include("partials/_header") %>
<pre><%= data%></pre>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maduración</title>
</head>
<body>
    <h2>Hola mundo</h2>
    
</body>
</html>
<%- include("partials/_footer") %>