<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
        href= "https://bootswatch.com/4/lux/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet"
        href= "/src/public/bootstrap.min (3).css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/src/public/styles.css">
        <title>Ochoa sistema</title>
    </head>
    <body class="hov">
        <nav style="background: #14CC31;"class="navbar ">
            <a href="/inicio" class="navbar-brand">Rancho de Ochoa</a>
            <ul class="nav nav-pills">
                <li class="nav-item bg-dark"><a href="/inicio" class="nav-link active" aria-current="page">Recepción</a></li>
                <li class="nav-item"><a href="/sorteo" class="nav-link">Sorteo</a></li>
                <li class="nav-item"><a href="/maduracion" class="nav-link">Maduración</a></li>
                <li class="nav-item"><a href="/lavado" class="nav-link">Lavado</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Producción</a></li>
              </ul>
        </nav>